<div class="mf-tabular-list-container container-fluid px-0 h-100">
    <div id="{{id}}" class="row mx-0 h-100">
        <div *ngFor="let group of groupedData; index as i; last as last;"
            class="col-md-6 px-0 pl-md-0 mf-tabular-list-col"
            [ngClass]="{ 'col-lg': groupedData.length <= 3, 'col-lg-4': groupedData.length > 3 }">
            <mat-list id="{{id}}-group-{{i}}" class="mf-tabular-list" role="list">
                <mat-divider></mat-divider>
                <ng-container *ngFor="let item of group">
                    <mat-list-item *ngIf="item.type !== 'status'" class="mf-tabular-list-item" role="listitem">
                        <span id="{{item.key}}Label"
                            class="mf-tabular-list-item-label mf body-small w600 darker">{{ item.label }}</span>
                        <span id="{{item.key}}Value" class="mf-tabular-list-item-value mf body-small right"> {{
                (item.value != null && item.value !== '' && item.type.includes('date'))
                  ? (item.value | date:'M/d/yy h:mm a')
                  : (item.value != null && item.value !== '' && item.type.includes('currency_noDecimal'))
                    ? (item.value | currency:'USD':'symbol':'1.0-0')
                    : (item.value != null && item.value !== '' && item.type.includes('percent'))
                      ? (getDecimalForPercent(item.value) | percent:'1.2-3')
                      : (item.type.includes('integer') || item.type.includes('number'))
                        ? (item.value | emptyValue:'0')
                        : (item.value | emptyValue) }} </span>
                    </mat-list-item>
                    <ng-container *ngIf="item.type === 'status' && item.value">
                        <mat-list-item class="mf-tabular-list-item" role="listitem">
                            <span class="mf-tabular-list-item-label mf body-small w600 darker">{{ item.label }}</span>
                            <div class="d-flex justify-content-end">
                                <chip [id]="'mfTabularListItemValueChip'" class="d-flex" [size]="'small'"
                                    [text]="item.value">
                                </chip>
                            </div>
                        </mat-list-item>
                    </ng-container>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
    </div>
</div>