<div class="container-fluid px-0" *ngIf="(asyncTabs | async) !== null">
    <div class="row mx-2">
        <div class="col-6 px-4">
            <shared-page-title-section [pageTitle]="title" [breadcrumbLabel]="'BACK'"></shared-page-title-section>
        </div>
        <div class="col-6 pl-0 pr-4">
            <mf-pe-quote-search></mf-pe-quote-search>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col-12 px-4 h-100 pb-4">
            <shared-card [id]="'pipelineTableCard'" [title]="'Pipeline'" [showContent]="(asyncTabs | async) !== null">
                <ng-container mf-card-title-group-action>
                    <div>
                        <button mat-raised-button
                            (click)="toggle()">{{allRowsExpanded ? 'Collapse' : 'Expand'}}</button>
                        <button mat-icon-button color="primary" id="refreshBtn" (click)="getPipelineResults()">
                            <mat-icon class="material-icons-outlined">refresh</mat-icon>
                        </button>
                        <span id="lastUpdatedValue">Refreshed {{ lastUpdated | date: 'hh:mm:ss a' }}</span>
                    </div>
                </ng-container>
                <ng-container mf-card-content>
                    <div class="row mx-0 ">
                        <div class="col px-0">
                            <mat-tab-group class="mf-tab-group" animationDuration="0ms" color="primary"
                                disableRipple="true">
                                <mat-tab class="mf-tab-label mf darker" [id]="tab.label"
                                    *ngFor="let tab of (asyncTabs | async); let i = index">
                                    <ng-template mat-tab-label>{{ tab.label }} ({{ tab.content.length }} ,
                                        {{tab.quoteCount}})</ng-template>
                                    <ng-template matTabContent>
                                        <div class="mt-4" *ngIf="tab.content?.length">
                                            <mf-pe-table [id]="'pipelineResultsTableContent'" #pipelineResultsTable
                                                [tableData]="tab.content" [tableOptions]="tab.tableOptions"  [expandAllRows]="allRowsExpanded">
                                                <ng-template #cellTemplate let-row="row" let-column="column"
                                                    let-index="index">
                                                    <ng-container *ngIf="
                                column.key === 'submitDateTime' ||
                                  column.key === 'quoteCount' ||
                                  column.key === 'opportunityId' ||
                                  column.key === 'maxUPB';
                                else: defaultCell
                              ">
                                                        <ng-container *ngIf="row[column.key]; else: defaultCell">
                                                            <div *ngIf="column.key === 'submitDateTime'"
                                                                class="cell-value"
                                                                [matTooltip]="row[column.key] | date: 'MM/dd/yyyy h:mm a'"
                                                                [matTooltipClass]="'mf-tooltip'"
                                                                mfPeShowTooltipIfTruncated>
                                                                {{ row[column.key] | date: 'MM/dd h:mm a' }}
                                                            </div>

                                                            <span *ngIf="column.key === 'maxUPB'" class="cell-value"
                                                                id="opportunity-{{row[column.key]}}"
                                                                [matTooltip]="row[column.key] |currencySuffix : 2"
                                                                [matTooltipClass]="'mf-tooltip'"
                                                                mfPeShowTooltipIfTruncated>
                                                                {{ row[column.key] | currencySuffix: 2 }}</span>
                                                            <div *ngIf="column.key === 'opportunityId'"
                                                                class="cell-value">
                                                                <div class="row">
                                                                    <mat-icon *ngIf="row.quoteResults.length > 0"
                                                                        [id]="'pipelineResultsTableRow-' + row['opportunityId']"
                                                                        class="mf-expansion-indicator mx-2" (click)="
                                        pipelineResultsTable.expandedRow =
                                          pipelineResultsTable.expandedRow === row ? null : row
                                      " [@expansionIndicatorRotate]="
                                      (row == pipelineResultsTable.expandedRow || allRowsExpanded)
                                          ? 'expanded'
                                          : 'collapsed'
                                      ">
                                                                        expand_more</mat-icon>
                                                                    <span class="mt-1"
                                                                        [matTooltip]="row['opportunityId']"
                                                                        [matTooltipClass]="'mf-tooltip'"
                                                                        mfPeShowTooltipIfTruncated>{{ row['opportunityId'] }}
                                                                        ({{ row['quoteCount'] }})</span>
                                                                </div>
                                                            </div>
                                                            <div class="cell-value action-button"
                                                                *ngIf="column.key === 'quoteCount'">
                                                                <div class="cell-value action-button"
                                                                    *ngIf="column.key === 'quoteCount'">
                                                                    <button class="mr-n2" id="gridOutputsCardMenuBtn"
                                                                        mat-icon-button color="primary"
                                                                        [matMenuTriggerFor]="actionMenu"
                                                                        [matMenuTriggerData]="{ grid: 'output' }">
                                                                        <mat-icon>more_vert</mat-icon>
                                                                    </button>
                                                                    <mat-menu #actionMenu="matMenu"
                                                                        class="mf-contextual-menu">
                                                                        <ng-template matMenuContent>
                                                                            <ng-container>
                                                                                <button mat-menu-item
                                                                                    class="mf-contextual-menu-item">
                                                                                    Claim
                                                                                </button>
                                                                                <button mat-menu-item
                                                                                    class="mf-contextual-menu-item">
                                                                                    Approval Hold
                                                                                </button>
                                                                            </ng-container>
                                                                        </ng-template>
                                                                    </mat-menu>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-template #defaultCell>
                                                        <div class="cell-value mf" [ngClass]="{
                                  right: column.cellValueType === 'currency_int',
                                  'darker w600': column.key.includes('Name')
                                }" [matTooltip]="row[column.key]" [matTooltipClass]="'mf-tooltip'"
                                                            aria-label="Output Grid cell text that displays a tooltip when focused or hovered over"
                                                            mfPeShowTooltipIfTruncated>
                                                            {{
                                  column.cellValueType === 'currency_int'
                                    ? (row[column.key] | emptyValue: '0')
                                    : (row[column.key] | emptyValue)
                                }}
                                                        </div>
                                                    </ng-template>
                                                </ng-template>
                                                <ng-template #masterDetailTemplate let-row="row" let-index="index">
                                                    <ng-container
                                                        *ngIf="(pipelineResultsTable.expandedRow !== null ||allRowsExpanded )">
                                                        <mf-pe-table [id]="'quoteResultsTable-'+ index"
                                                            [tableData]="row.expandedMasterDetail"
                                                            [tableOptions]="tab.quoteTableOptions">
                                                            <ng-template #cellTemplate let-row="row" let-column="column"
                                                                let-index="index">
                                                                <ng-container *ngIf="
                                    column.key === 'opportunityUpbAmt' ||
                                      column.key === 'submitDateTime' ||
                                      column.key === 'priorityIndicator' ||
                                      column.key === 'opportunityId' ||
                                      column.key === 'quoteId';
                                    else: defaultCell
                                  ">
                                                                    <ng-container
                                                                        *ngIf="row[column.key]; else: defaultCell">
                                                                        <span *ngIf="column.key === 'quoteId'"
                                                                            class="cell-value mf-link mf-navigation-link"
                                                                            id="quote-{{row[column.key]}}"
                                                                            (click)="navigateTo(row[column.key])">
                                                                            {{ row[column.key] }}
                                                                        </span>

                                                                        <div *ngIf="column.key === 'submitDateTime'"
                                                                            class="cell-value"
                                                                            [matTooltip]="row[column.key] | date: 'MM/dd/yyyy h:mm a'"
                                                                            [matTooltipClass]="'mf-tooltip'"
                                                                            mfPeShowTooltipIfTruncated>
                                                                            {{ row[column.key] | date: 'MM/dd h:mm a' }}
                                                                        </div>
                                                                        <span *ngIf="column.key === 'opportunityUpbAmt'"
                                                                            class="cell-value"
                                                                            id="opportunity-{{row[column.key]}}">
                                                                            {{ row[column.key] | currencySuffix: 2 }}</span>

                                                                        <span *ngIf="column.key === 'priorityIndicator'"
                                                                            class="cell-value"
                                                                            [ngStyle]="{'color':row[column.key] === 'N' ? '' : '#1AB3DA' }"
                                                                            [matTooltip]="row['priorityIndicator']"
                                                                            [matTooltipClass]="'mf-tooltip'"
                                                                            mfPeShowTooltipIfTruncated>
                                                                            {{ row[column.key] === 'Y' ? 'Yes' : 'No' }}
                                                                        </span>
                                                                    </ng-container>
                                                                </ng-container>
                                                                <ng-template #defaultCell>
                                                                    <div class="cell-value mf" [ngClass]="{
                                      right: column.cellValueType === 'currency_int',
                                      'darker w600': column.key.includes('Name')
                                    }" [matTooltip]="row[column.key]" [matTooltipClass]="'mf-tooltip'"
                                                                        aria-label="Output Grid cell text that displays a tooltip when focused or hovered over"
                                                                        mfPeShowTooltipIfTruncated>
                                                                        {{
                                      column.cellValueType === 'currency_int'
                                        ? (row[column.key] | emptyValue: '0')
                                        : (row[column.key] | emptyValue)
                                    }}
                                                                    </div>
                                                                </ng-template>
                                                            </ng-template>
                                                        </mf-pe-table>
                                                    </ng-container>
                                                </ng-template>
                                            </mf-pe-table>
                                        </div>
                                    </ng-template>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </ng-container>
            </shared-card>
        </div>
    </div>
</div>