/**
* This file should ONLY contain necessary color variables. The variable names should be identical to the Design System token names.
*/

// Primary Colors
$primary: #3e526a; // formerly $darkest
$darker: #8895a4;
$dark: #c2cbd5;
$light: #f2f2f2;
$lighter: #f9f9f9;
$lightest: #ffffff;

// Secondary Colors
$secondary: #91b530; // formerly $interactive
$success: #91b530;
$info: #1ab3da;
$warning: #ffa000;
$error: #db3a00;

// Accessible Text Colors
$text-dark: #000000;
$text-link: #65801b;
$text-form: #67788b;

// Data Visualization Colors
$datavis-1: #52b1d6;
$datavis-2: #83d4f3;
$datavis-3: #3191b7;
$datavis-4: #ffa41b;
$datavis-5: #ffcd82;
$datavis-6: #f09307;
$datavis-7: #42be9b;
$datavis-8: #84e0c6;
$datavis-9: #17a079;
$datavis-10: #4472c4;
$datavis-11: #715090;
$datavis-12: #ddf6fd;
$datavis-13: #cfe4ff;
$datavis-dark: #c2cbd5;
$datavis-error: #db3a00;
